---
const platform = "github";
const username = "withastro";
const props = Astro.props;
import Social from './Social.astro';


---

<style>
  footer {
    display: inline-flex;
    gap: 0,5rem;
    margin-top: 2rem;
    align-items: center;
  }
  
  .social-link {
    
    padding: 0.5rem;
    color: white;
    background-color: #4c1d95;
    border-radius: 50%;
    transition: background-color 0.2s;
  }
  
  .social-link:hover {
    background-color: #5b21b6;
  }
  
  .social-icon {
    width: 24px;
    height: 24px;
    display: block;
  }
</style>

<footer>
  <p>Узнайте больше о моих проектах:</p>
  <Social /
</div>
</footer>