---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
const platform = "github";
const username = "withastro";
const props = Astro.props;
import Container2 from './Social.astro';
import Container1 from './logo.astro';
---

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Распределяем элементы по ширине */
    align-items: center;
        margin-top: 0.5rem;
    flex-wrap: nowrap; /* Запрещаем перенос на новую строку */
  }
  nav {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    }
    .container2 {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    }
</style>

<header>
  <Container1>
     </Container1>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
   <Container2 />
    <ThemeIcon />
  </div>
  </header>