---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
const platform = "github";
const username = "withastro";
const props = Astro.props;
import Social from './Social.astro';
import Container from './logo.astro';
---

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Распределяем элементы по ширине */
    align-items: center;
        margin-top: 0.5rem;
    flex-wrap: nowrap; /* Запрещаем перенос на новую строку */
  }

  nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .logo {
    /* Добавьте стили для логотипа по необходимости */
    height: 2.5rem; /* Примерный размер */
    margin-right: 1rem; /* Отступ от других элементов */
  }
</style>

<header>
  <Container>
     </Container>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
   <Social />
    <ThemeIcon />
  </div>
  </header>