---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
const platform = "github";
const username = "withastro";
const props = Astro.props;
import Container2 from './Social.astro';
import Container1 from './logo.astro';
---

<style>
  header {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
        align-items: center;
        font-family: 'TT Neoris Regular';
        font-weight: 100;
        position: fixed; /* Фиксирует хедер на экране */
  top: 0;          /* Прижимает к верхнему краю */
  
  z-index: 1000;   /* хедер поверх других элементов */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* тень для эффекта "плавающего" хедера */
/* Полупрозрачный тёмный фон (последнее значение — прозрачность от 0 до 1) */
background: #acc2d7; /* цвет фона */
        
    flex-wrap: nowrap; /* Запрещаем перенос на новую строку */
      }
     .container2 {
    display: block;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    flex-wrap: nowrap;
    }
    .header-two {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-wrap: nowrap;
    justify-content: flex-end
    }
</style>

<header>
  <Hamburger />
  <Container1>
     </Container1>
   
     
  <nav>
       <Navigation />
  </nav>
  
    
    <header class="header-two"> <!-- соц иконки -->
  </header>

    <Container2 />
       <ThemeIcon />
    
    </div>
  </header>