---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
const platform = "github";
const username = "withastro";
const props = Astro.props;
import Container2 from './Social.astro';
import Container1 from './logo.astro';
---

<style>
  header {
    width: 100%;
    display: flex;
        align-items: center;
        
    flex-wrap: nowrap; /* Запрещаем перенос на новую строку */
      }
     .container2 {
    display: block;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    flex-wrap: nowrap;
    }
    .header-two {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-wrap: nowrap;
    justify-content: flex-end
    }
</style>

<header>
  <Container1>
     </Container1>
  <nav>
       <Navigation />
  </nav>
  <header class="header-two"> <!-- второй блок заголовка -->
    <Container2 />
  </header>
       <ThemeIcon />
    <Hamburger />
    </div>
  </header>