---
// src/components/Container.astro
const { class: additionalClass } = Astro.props;
---

<style>
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
</style>

<div class={`container ${additionalClass || ''}`}>
  <a class="logo" href="#">
    <img src="https://webkyrs.info/images/icon-128-white.png" width="70" height="70" alt="Мой БЛОГ">
  <slot />
</div>