---
// src/components/Container.astro
const { class: additionalClass } = Astro.props;

---

<style>
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
</style>

<div class={`container ${additionalClass || ''}`}>
  <a class="logo" href="index.html">
    <img src="/../src/files/LOGO.png" width="170" height="40" alt="Мой БЛОГ">
  <slot />
</div>